<ul>
  <% @room.users.each do |user| %>
  <li>
    <%= user.username %>
    <% if @battle %>
      <% invitation = BattlePlayer.where(battle: @battle).where(player: user).first %>
      <% if invitation %>
        <%= link_to "uninvite", battle_player_path(invitation), method: :delete %>
      <% else %>
        <%= simple_form_for [@battle, BattlePlayer.new] do |f| %>
          <%= f.input :player, input_html: { value: user.id }, as: :hidden %>
          <%= f.submit %>
        <% end %>
      <% end %>
    <% end %>
  </li>
  <% end %>
</ul>
