
<app
  <%= ":current-user-id=#{current_user.id}" if user_signed_in? %>
  :room-init="<%= @room.to_json %>">
  <template>
    <div id="home" class="container vh-100">
      <div class="row justify-content-center align-items-end h-50 pb-5">
        <%= render 'shared/logo' %>
      </div>

      <div class="row justify-content-center">

        <widget
        id="room-announcer"
        class="grid-item animated fadeIn w-100"
        header-title="PWD://War_Rooms/">
          <div class="h-100 pt-4 p-3">
            <% if user_signed_in? && current_user.admin? %>
              <ol class="pt-3">
                <% @rooms.each do |room| %>
                <li><%= link_to room.name, room_path(room)%>
                </li>
                <% end %>
              </ol>
            <% elsif user_signed_in? %>
              <div class="text-center py-5">
                <p>Welcome <%= current_user.name || current_user.username %></p>
                <p>Please use the link given to you by an administrator to join a war room.</p>
              </div>
            <% else %>
              <div class="d-flex justify-content-around py-5">
                <div><a href="/users/sign_in" class="button large"><i class="fas fa-sign-in-alt mr-2"></i>Log in</a></div>
                <div><a href="/users/sign_up" class="button large"><i class="fas fa-star-of-life mr-2"></i>Sign up</a>
                </div>
              </div>
            <% end %>
          </div>
        </widget>
      </div>
    </div>
  </template>
</app>