<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SpeedBattles<%= " | #{yield(:title)}" unless yield(:title).blank? %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= favicon_link_tag asset_path('speedbattles_icon.png') %>
  </head>
  <% vue_app = params[:controller] == 'rooms' && params[:action] == 'show' %>
  <body>
    <%= render 'shared/flashes' %>
    <% if vue_app %>
      <div data-behavior='vue'>
        <%= yield %>
      </div>
    <% else %>
      <div id="super-container" class="peace">
        <span class="app-bg"></span>
        <%= yield %>
      </div>
    <% end %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
